
h2 {
  text-align: center;
  font-size: 30px;
}
.grid-container {
  padding: 0px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25% ;
  background-color: #ffffff;
  padding-bottom: 0px;
  padding-top:0px;
}
.grid-item {
  margin-top: 0px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  padding: 10px ;
  text-align: center;
 
 
}