body {
    text-align: center;
    margin:0px auto;
    margin-top:150px;
    background-image: url(	'COVID-19.jpg');

}
input {
    box-shadow: 0 4px 8px 0 rgb(5, 0, 0);
    box-shadow: 4px 3px 8px 1px rgb(5, 0, 0);
  
    width:30%;
    padding:3px;
    font-size: 17px;
    text-align: center;
}
#date {
     font-size: 15px;
     padding:2px;
}
button {
    box-shadow: 0 4px 8px 0 rgb(5, 0, 0);
    box-shadow: 4px 3px 8px 1px rgb(5, 0, 0);
    background-color: green;
    margin: 20px;
    width:20%;
    padding:3px;
    font-size: 17px;
    text-align: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(8, 1, 1, 0.651);
    box-shadow: 4px 3px 8px 1px rgb(202, 201, 201);
    -webkit-box-shadow: 4px 3px 8px 1px rgb(17, 9, 9);
    width: 48%;
    margin: 0 auto;
  }
  #active {
      color: yellow;
  }
  #recovered {
      color:green;
  }
  #deaths {
      color: red;
  }
  #rate {
      color:rgb(24, 180, 159)
  }